<html>
<body>
<h3>successuful login</h3>
<form  method="POST" action="/uploadnotes/" >
    <input type="submit" value="Upload-Notes">
    <br>
</form>
<form  method="POST" action="/uploadpics/" >
    <input type="submit" value="upload-pics">
    <br>
</form>
<form  method="POST" action="/singleimage/" >
    <input type="submit" value="display-single-image">
    <br>
</form>
<form  method="POST" action="/deletedocument/" >
    <input type="submit" value="delete-note/image/doc">
    <br>
</form>
<form  method="POST" action="/displayallnotes/" >
    <input type="submit" value="display-all-notes">
    <br>
</form>

<form  method="POST" action="/displayallimages/" >
    <input type="submit" value="display-all-images">
    <br>
</form>
<form  method="POST" action="/prioritysortingnotes/" >
    <input type="submit" value="priority-sorting-notes">
    <br>
</form>
<form  method="POST" action="/priorityquerysearch/" >
    <input type="submit" value="priority-query-search">
    <br>
</form>

<form  method="POST" action="/ownerquerysearch/" >
    <input type="submit" value="owner-query-search">
    <br>
</form>

<form  method="POST" action="/notestringquerysearch/" >
    <input type="submit" value="note-string-query-search">
    <br>
</form>

</body>
</html>