<html>
<body>
<form method="POST" action="/uploadnotes/form" enctype="multipart/form-data">
    <h1> Enter subject </h1>
    <input type="text" textarea rows="1" cols="50"  name="subject"></textarea>
    <br>
    <h1> Enter notes </h1>
    <input type="text" textarea rows="1" cols="50" name="notes"></textarea>
    <br>
    <h1> Enter priority </h1>
    <input type="text" textarea rows="1" cols="50" name="priority"></textarea>
    <br>
    <br>
    <input type="submit" value="insertdoucment">
</form>
</body>
</html>