<html>
<body>
<form method="POST" action="/uploadpics/form" enctype="multipart/form-data">

    <div><label><h1>Upload image:</h1></label></div>
    <div><input type="file" name="file"/></div>

    <br><br><br><h1> Enter comment </h1>
    <input type="text" textarea rows="1" cols="50"  name="comment"></textarea>
    <br>
    <h1> Enter priority </h1>
    <input type="text" textarea rows="1" cols="50" name="priority"></textarea>
    <br>
    <input type="submit" value="insert_pic">
</form>
</body>
</html>